# Dépendances
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers de configuration sensibles
.env
config.js

# Logs
logs/
*.log

# Fichiers temporaires
tmp/
temp/

# Fichiers système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/
